<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenidos a <%= title %></h1>
    <p>Un portal para jugar a preguntas y respuestas</p>
    <p><a href="quizes/question"> Comenzar a jugar </a></p>
  </body>
</html>
